html, {
    font-family: 'Roboto';
}

body {
    font-size: 20px;
    /*background-image:url('assets/background.png');*/
    background-color: #222;
    background-repeat: repeat;
    background-size: 150px;
    background-attachment: fixed;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
    font-weight: 800;
}

#main {
    color: #DDD;
}

@media (min-width: 1100px) {
    #main {
        margin: 0 auto;
        width: 900px;
    }
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    color: #CCC;
    background-color: #111;
    border-color: #555;
}

button:disabled {
    color: #999;
    background-color: #777;
    border-color: #999;
}

#encodedText {
    width: 100%;
    color: White;
    border-color: #666;
    background-color: Black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}

#encodedText:focus {
    outline: none;
}

#buttons {
    padding-top: 10px;
}

#softAlert {
    font-size: 18px;
    padding-top: 10px;
    display: none;
}