---
---
@import "{{ site.theme }}";

@font-face {
  font-family: 'Microfont';
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/microfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, header h1, header h2 {
  font-family: "Microfont", sans-serif;
}

header h1 {
  font-size: 35px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

header h2 {
  font-size: 20px;
}

body {
  font-size: 20px;
}
