---
---
@import "{{ site.theme }}";

@font-face {
  font-family: 'Microfont';
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/Microfont.woff2') format('woff2');
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/Microfont.woff') format('woff');
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/Microfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Microfont-Mono';
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/Microfont-Mono.woff2') format('woff2');
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/Microfont-Mono.woff') format('woff');
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/Microfont-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

code pre kbd samp {
  font-family: "Microfont-Mono", sans-serif;
  line-height: normal;
}

body, h1, h2, h3, h4, h5, h6, header h1, header h2 {
  font-family: "Microfont", sans-serif;
  line-height: normal;
}

header h1 {
  font-size: 48px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

header h2 {
  font-size: 24px;
}

body {
  font-size: 24px;
}
