---
---
@import "{{ site.theme }}";

@font-face {
  font-family: '3x5 Microfont';
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/3x5-Microfont.woff2') format('woff2');
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/3x5-Microfont.woff') format('woff');
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/3x5-Microfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '3x5 Microfont Mono';
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/3x5-Microfont-Mono.woff2') format('woff2');
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/3x5-Microfont-Mono.woff') format('woff');
  src: url('https://raw.githubusercontent.com/nimaid/microfont/refs/heads/main/3x5-Microfont-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

code pre kbd samp {
  font-family: "3x5 Microfont Mono", "Courier New", monospace;
  line-height: normal;
}

ul li {
  list-style: none !important;
}

ul:not(li ul) {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

ul li::before {
  content: ">> ";
  font-family: "3x5 Microfont Mono", monospace;
  color: #b5e853;
}

body, h1, h2, h3, h4, h5, h6, header h1, header h2 {
  font-family: "3x5 Microfont", sans-serif;
}

h1, h2, h3, h4, h5, h6, header h1, header h2 {
  font-weight: normal !important;
}

header h1 {
  font-size: 48px;
}

h1 {
  font-size: 40px
}

h2 {
  font-size: 32px;
}

header h2 {
  font-size: 24px;
}

body {
  font-size: 24px;
}
