html {
    font-family: 'Roboto';
}

body {
    font-size: 18px;
    background-image:url('../background.png');
    background-repeat:repeat;
    background-size: 150px
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

summary {
    font-size: 22px;
    font-weight: bold;
}

.center-fit {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#main {
    width: 50%;
    margin: 0 auto;
    background-color: White;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 75px;
}

pre { 
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.inline-code, pre {
    background-color: LightYellow;
    border-color: DarkKhaki;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
}

code {
    font-family: monospace;
}

table, td, th {
    border-style: solid;
}

th, td {
    text-align: center;
    padding: 5px;
    border-width: 1px;
}

table {
    border-width: 3px;
    border-collapse: collapse;
}

th {
    border-bottom-width: 2px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}