html {
    font-family: "Roboto";
}

body {
    font-size: 18px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

summary {
    font-size: 22px;
    font-weight: bold;
}

#main {
    width: 50%;
    margin: 0 auto;
}

pre { 
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: LightYellow;
    border-color: DarkKhaki;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
}

code {
    font-family: monospace;
}

th {
    text-align: center;
}
    
td {
    text-align: center;
}